# Local environments
venv/
*.egg-info/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Upstream clutter (keep local only, don’t push)
example/
simulate/
simulate_python/
terrain_tool/
unitree_robots/

# Extra
-R
readme.md
readme_zh.md
