# Ignore external SDKs and support
../Unitree_Support/

# Ignore upstream folders (local only)
example/
simulate/
simulate_python/
terrain_tool/
unitree_robots/

# Python build + cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
venv/

# Editor/OS junk
.DS_Store
